@{
	ViewData["Title"] = "Результат";
}

<h2 class="text-center mt-4">Результат</h2>

<div class="result-container">
	<p>Результат вычисления: <strong>@ViewBag.Result</strong></p>
	<a asp-action="Index" class="btn btn-primary mt-3">Назад</a>
</div>